.company {
  &__video {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    &-item {
      video {
        width: 100%;
        height: auto;
        max-height: 100%;
        max-width: 1062px;
      }
    }
  }
  &__breadcrumbs {
    margin-left: 219px;
    &--products {
      margin-right: 0;
    }
  }
  &__wrapper {
    display: flex;
    margin-top: 52px;
  }
  &__aside {
    &-menu {
      position: sticky;
      top: 95px;
    }

    &-menu {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: #000;
      }
      &_btn {
        width: 100%;
        width: 112px;
        border: none;
        outline: none;
        background-color: #fff;
        text-align: left;
        margin-bottom: 17px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }
        &.active,
        &:hover {
          color: #73319a;
        }
        &.active {
          &::before {
            transition: all 0.3s;
            content: "";
            position: absolute;
            width: 2px;
            height: 20px;
            background-color: #73319a;
            left: -9px;
          }
        }
      }
    }
  }
  &__content {
    margin-left: 112px;
    max-width: 843px;
    &-aboutus {
      max-width: 733px;
      h2 {
        margin-top: 0;
        font-size: 36px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 26px;
      }
      h3 {
        margin-top: 58px;
        font-size: 24px;
      }
      ul {
        li {
          list-style: none;
          margin-bottom: 44px;
          position: relative;
          line-height: 27px;
          &:first-child {
            margin-top: 25px;
          }
          &:last-child {
            margin-bottom: 85px;
          }
          &::before {
            content: "";
            position: absolute;
            background-image: url(../images/text-marker.svg);
            left: -40px;

            width: 27px;
            height: 27px;
          }
        }
      }
    }
    &-rule {
      position: relative;

      h2 {
        font-size: 36px;
        border-top: 1px solid #c4c4c4;
        padding-top: 64px;
        position: relative;
        z-index: 1;
      }
      .slider__bg {
        opacity: 0;
        width: 100%;
        height: auto;
        min-height: 350px;
        border-radius: 31px;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s;
        background: linear-gradient(
          180deg,
          #fef6df 0%,
          #fde8db 47.92%,
          #fbded7 100%
        );
        &.visible {
          opacity: 1;
        }
        &--0 {
          background: linear-gradient(
            90deg,
            rgba(238, 174, 202, 1) 0%,
            rgba(148, 187, 233, 1) 100%
          );
        }
        &--1 {
          background: #b1f1b5;
          background: -webkit-linear-gradient(top, #b1f1b5, #6da96f);
          background: -moz-linear-gradient(top, #b1f1b5, #6da96f);
          background: linear-gradient(to bottom, #b1f1b5, #6da96f);
        }
        &--2 {
          background: #d4feeb;
          background: -webkit-linear-gradient(top, #d4feeb, #642047);
          background: -moz-linear-gradient(top, #d4feeb, #642047);
          background: linear-gradient(to bottom, #d4feeb, #642047);
        }
        &--3 {
          background: #957cb4;
          background: -webkit-linear-gradient(top, #957cb4, #b9d5d7);
          background: -moz-linear-gradient(top, #957cb4, #b9d5d7);
          background: linear-gradient(to bottom, #957cb4, #b9d5d7);
        }
        &--4 {
          background: #f3b6e3;
          background: -webkit-linear-gradient(top, #f3b6e3, #7581ea);
          background: -moz-linear-gradient(top, #f3b6e3, #7581ea);
          background: linear-gradient(to bottom, #f3b6e3, #7581ea);
        }
        &--5 {
          background: #0ae6f7;
          background: -webkit-linear-gradient(top, #0ae6f7, #2b4ea6);
          background: -moz-linear-gradient(top, #0ae6f7, #2b4ea6);
          background: linear-gradient(to bottom, #0ae6f7, #2b4ea6);
        }
        &--6 {
          background: #d0f4fa;
          background: -webkit-linear-gradient(top, #d0f4fa, #e3a4ad);
          background: -moz-linear-gradient(top, #d0f4fa, #e3a4ad);
          background: linear-gradient(to bottom, #d0f4fa, #e3a4ad);
        }
      }
      &_item {
        padding: 52px 40px 70px 87px;
        border-radius: 31px;
        &--first {
          h3 {
            &::before {
              content: "1";
            }
          }
        }
        &--second {
          h3 {
            &::before {
              content: "2";
            }
          }
        }
        &--third {
          h3 {
            &::before {
              content: "3";
            }
          }
        }
        &--fourth {
          h3 {
            &::before {
              content: "4";
            }
          }
        }
        &--fifth {
          h3 {
            &::before {
              content: "5";
            }
          }
        }
        &--sixth {
          h3 {
            &::before {
              content: "6";
            }
          }
        }
        &--seventh {
          h3 {
            &::before {
              content: "7";
            }
          }
        }

        h3 {
          font-size: 24px;
          margin: 0;
          position: relative;
          &::before {
            position: absolute;
            font-size: 48px;
            transform: translate(-50%, -50%);
            top: 50%;
            left: -28px;
          }
        }
        p {
          margin-top: 16px;
          margin-bottom: 0;

          max-width: 716px;
          line-height: 32px;
          font-size: 18px;
        }
      }
    }
    &-awards,
    &-gallery {
      margin-top: 100px;
      h2 {
        font-size: 36px;
      }
      a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        &:hover {
          text-decoration: underline;
        }
        &::before {
          content: "\e907";
          position: absolute;
          font-family: "icomoon";
          right: -35px;
          font-size: 22px;
          transform: translate(-50%, -50%);
          top: 50%;
        }
      }
      &_items {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        p {
          max-width: 265px;
          width: 100%;
          transition: all 0.3s;
          line-height: 22px;
          margin-top: 8px;
        }
      }
      &_item {
        transition: all 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    &-gallery {
      &_images {
        margin-top: 40px;
        display: flex;
        margin-bottom: 100px;
      }
      &_main {
        transition: all 0.3s;
        &:hover {
          transform: scale(1.1);
        }

        img {
          // img ne rabotaet w100% i maxw 405px
        }
      }

      &_group {
        display: flex;
        flex-wrap: wrap;
        margin-left: 29px;

        img {
          padding-right: 25px;
          padding-bottom: 25px;
          width: 100%;
          max-width: 189px;
          transition: all 0.3s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
