.footer {
  background-color: #2f183d;
  color: #fff;
  h4 {
    margin-bottom: 20px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  &__columns {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 92px;
    @media (max-width: 768px) {
      padding-top: 20px;
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }
  }
  &__logo {
    img {
      width: 115px;
      height: 104px;
    }
    p {
      margin-top: 33px;
    }
  }
  &__menu {
    ul {
      padding-left: 0;
      li {
        list-style: none;
        margin-top: 18px;
      }
    }
  }
  &__contacts {
    &-address,
    &-mail {
      position: relative;
      margin-top: 14px;
      margin-left: 30px;
      &::before {
        content: "";
        position: absolute;
        font-family: "icomoon";
        color: #fff;
        font-size: 15px;
        left: -30px;
        top: 0;
      }
    }
    &-address {
      &::before {
        content: "\e901";
        font-size: 18px;
        left: -28px;
      }
    }
    &-mail {
      &::before {
        content: "\e906";
        font-size: 15px;
      }
    }
  }
  &__social {
    a {
      margin-right: 20px;
      font-size: 25px;
      transition: all 0.3s;
      &.icon-youtube {
        &:hover {
          color: #c4302b;
        }
      }
      &.icon-instagram {
        &:hover {
          color: #d6249f;
        }
      }
      &.icon-facebook {
        &:hover {
          color: #4267b2;
        }
      }
    }
  }
}
