.header {
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.08);
  position: sticky;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: #fff;
  z-index: 50;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__burger {
    display: none;
    @media (max-width: 768px) {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      span {
        position: absolute;
        background-color: #000;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
      &::before,
      &::after {
        content: "";
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &.active {
        span {
          transform: scale(0);
        }
        &::before {
          transform: rotate(45deg);
          top: 9px;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }
    }
  }
  &__menu {
    @media (max-width: 768px) {
      position: absolute;
      top: -100%;
      right: 0;
      width: 100%;
    }
    @media (max-width: 768px) {
      &.active {
        bottom: 0;
        top: auto;
        transition: all 0.3s;
      }
    }
    ul {
      @media (max-width: 768px) {
        display: block;
        background-color: #fff;
      }
      display: flex;
      list-style: none;
      li {
        @media (max-width: 768px) {
          padding: 25px;
          text-align: center;
          margin: 0;
        }
        margin-right: 28px;
        a {
          text-decoration: none;
          color: #000;
          font-weight: 600;
          transition: all 0.3s;
          font-size: 15px;

          &.active {
            color: #ffc733;
          }
          &:hover {
            color: $btn;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__link {
    background-color: $btn;
    padding: 12px 17px;
    border-radius: 38px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: all 0.3s;
    font-size: 14px;
    &:hover {
      background-color: #ffdb7e;
    }
  }
}
