.main {
  &-aboutus {
    margin-top: 112px;
    @media (max-width: 426px) {
      margin-top: 64px;
    }
    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    &__image {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        @media (max-width: 768px) {
          width: 75%;
          margin-top: 50px;
        }
        @media (max-width: 426px) {
          width: 100%;
          margin-top: 0;
        }
      }
    }
    &__content {
      @media (max-width: 768px) {
        margin-right: 0;
      }
      margin-right: 43px;
      h2 {
        margin: 0;
        @media (max-width: 426px) {
          margin-top: 25px;
          margin-bottom: 12px;
          font-size: 32px;
        }
      }
      p {
        max-width: 395px;
        font-size: 16px;
        line-height: 22px;
        margin-top: 15px;
        margin-bottom: 40px;
        @media (max-width: 768px) {
          max-width: none;
        }
        @media (max-width: 426px) {
          line-height: 26px;
        }
      }
      a {
        @media (max-width: 426px) {
          width: 100%;
          margin: auto 0;
        }
      }
    }
    &__features {
      margin-top: 123px;
      @media (max-width: 426px) {
        margin-top: 73px;
      }
      h2 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 67px;
        @media (max-width: 426px) {
          font-size: 32px;
        }
      }
    }
    &__cards {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 1370px) {
        justify-content: space-around;
      }
      @media (max-width: 960px) {
        align-items: center;
        justify-content: space-around;
      }
    }
    &__card {
      @media (max-width: 1370px) {
        margin-bottom: 72px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      &-image {
        text-align: center;
      }
      h4 {
        font-size: 18px;
        font-weight: 700;
        color: #373f41;
        justify-content: center;
        margin-top: 11px;
        margin-bottom: 0;
        line-height: 24px;
        text-align: center;
        @media (max-width: 426px) {
          font-size: 22px;
          line-height: 32px;
        }
      }
      p {
        text-align: center;
        max-width: 405px;
        font-size: 14px;
        color: #373f41;
        font-weight: 400;
        line-height: 20px;
        max-height: 42px;
        @media (max-width: 426px) {
          line-height: 26px;
        }
      }
    }
    .second-row {
      margin-top: 73px;
      @media (max-width: 1370px) {
        margin-top: 0;
      }
    }
  }
  &-our_products {
    h2 {
      text-align: center;
      margin-top: 139px;
      @media (max-width: 426px) {
        margin-top: 98px;
        font-size: 32px;
      }
    }
    a {
      text-decoration: none;
    }
    &__cards {
      margin-top: 108px;
      display: flex;
      justify-content: center;
      @media (max-width: 960px) {
        display: block;
        text-align: center;
        margin-top: 72px;
      }
      @media (max-width: 426px) {
        margin-top: 39px;
      }
    }
    &__card {
      margin-right: 48px;
      transition: all 0.3s;
      &:last-child {
        margin-right: 0px;
      }
      &:hover {
        transform: scale(1.1);
      }
      img {
        width: 100%;
        max-width: 300px;
        @media (max-width: 426px) {
          max-width: none;
        }
      }
      h5 {
        margin-top: 20px;
        margin-bottom: 0;
        text-decoration: none;
        color: #000;
        font-size: 18px;
        @media (max-width: 960px) {
          margin-bottom: 45px;
        }
        @media (max-width: 426px) {
          font-size: 22px;
        }
      }
      @media (max-width: 960px) {
        margin-right: 0;
      }
    }
  }
  &-partners {
    margin-top: 130px;
    @media (max-width: 960px) {
      margin-top: 100px;
    }
    h2 {
      text-align: center;
      @media (max-width: 426px) {
        font-size: 32px;
      }
    }
    &__row {
      margin-top: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @media (max-width: 960px) {
        margin-top: 36px;
        flex-wrap: wrap;
      }
      @media (max-width: 426px) {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 63px;
      }
    }
    &__logo {
      @media (max-width: 960px) {
        margin-bottom: 32px;
      }
      @media (max-width: 426px) {
        margin-bottom: 72px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &-story {
    margin-top: 139px;
    @media (max-width: 426px) {
      margin-top: 110px;
    }
    &--company_page {
      h2 {
        display: flex;
        justify-content: start;
      }
      .main-story__group {
        margin-bottom: 44px;
        img {
          width: 100%;
          max-width: 328px;
        }
        &-content {
          h2 {
            margin-top: 0;
            font-size: 40px;
            margin-bottom: 12px;
          }
          p {
            margin-top: 0;
            font-size: 16px;
            line-height: 22px;
          }
          text-align: justify;
          &.left-side {
            margin-right: 44px;
          }
          &.right-side {
            margin-left: 44px;
          }
        }
      }
    }
    @media (max-width: 960px) {
      margin-top: 100px;
    }
    h2 {
      text-align: center;
      @media (max-width: 426px) {
        font-size: 32px;
      }
    }
    a {
      text-align: center;
    }
    &__group {
      margin-bottom: 80px;
      display: flex;
      justify-content: center;
      @media (max-width: 768px) {
        text-align: center;
        flex-direction: column-reverse;
        &.reverse {
          flex-direction: column;
        }
      }
      @media (max-width: 426px) {
        margin-bottom: 53px;
      }
      &:first-child {
        margin-top: 61px;
      }

      img {
        border-radius: 6px;
        width: 100%;
        max-width: 437px;
        @media (max-width: 768px) {
          width: 75%;
        }
        @media (max-width: 426px) {
          width: 100%;
        }
      }
      h2 {
        text-align: left;
        @media (max-width: 768px) {
          text-align: center;
        }
        @media (max-width: 426px) {
          text-align: left;
          margin-bottom: 9px;
          margin-top: 25px;
        }
      }

      &-content {
        p {
          max-width: 488px;
          font-size: 16px;
          line-height: 22px;
          @media (max-width: 768px) {
            text-align: center;
            max-width: none;
          }
          @media (max-width: 426px) {
            text-align: left;
            margin-top: 0;
          }
        }
      }
    }
    &__link {
      text-align: center;
      margin-top: 56px;
    }
    .left-side {
      margin-right: 72px;
    }
    .right-side {
      margin-left: 72px;
    }
    @media (max-width: 768px) {
      .left-side,
      .right-side {
        margin: 0;
      }
    }
  }
  &-news {
    h2 {
      text-align: center;
      margin-top: 139px;
      margin-bottom: 48px;
    }
    &__items {
      display: flex;
      justify-content: center;
      margin-bottom: 71px;
      @media (max-width: 768px) {
        justify-content: space-around;
      }
    }
    &__link {
      text-align: center;
    }
    &__item {
      margin-right: 87px;
      @media (max-width: 768px) {
        margin-right: 0;
        &:last-child {
          display: none;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &-image {
        img {
          border-radius: 6px;
          width: 100%;
        }
      }
      &-date {
        margin-top: 23px;
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: 500;
        color: #67228f;
      }
      &-title {
        max-width: 295px;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        max-height: 62px;

        a {
          text-decoration: none;
          color: #000;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      p {
        max-width: 295px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        max-height: 109px;
        @media (max-width: 960px) {
          margin-bottom: 36px;
        }
      }
      &-read {
        position: relative;

        &:hover {
          text-decoration: underline;
        }
        &::after {
          content: "\e907";
          font-family: "icomoon";
          color: #67228f;
          font-size: 14px;
          position: absolute;
          top: 0;
          font-size: 18px;
        }
        a {
          text-decoration: none;
          color: #67228f;
        }
      }
    }
  }
  &-contact {
    margin-top: 100px;

    &__inner {
      display: flex;
      margin: 0 45px;
      @media (max-width: 768px) {
        display: block;
      }
    }
    &__text {
      white-space: nowrap;
      @media (max-width: 960px) {
        white-space: pre-wrap;
      }

      h2 {
        margin: 0;
      }
      p {
        margin-top: 12px;
      }
    }
    &__form {
      margin-left: 178px;
      @media (max-width: 960px) {
        margin-left: 100px;
      }
      @media (max-width: 768px) {
        margin-left: 0;
      }

      &-row {
        display: flex;
        flex-wrap: wrap;
      }
      &-name,
      &-number,
      &-email {
        flex: 0 0 50%;
        max-width: 100%;
        input {
          padding-left: 16px;
          width: 100%;
          min-height: 44px;
          background-color: #f3f3f4;
          border: none;
          border-radius: 8px;
        }
      }

      &-email,
      &-message {
        flex: 0 0 100%;
        max-width: 100%;
        textarea {
          padding-top: 13px;
          padding-left: 16px;
          width: 100%;
          min-height: 200px;
          background-color: #f3f3f4;
          border: none;
          border-radius: 8px;
        }
      }
      &-submit {
        margin-top: 32px;
        margin-bottom: 96px;

        input {
          border: none;
          cursor: pointer;
        }
      }
      .form-group {
        margin-bottom: 16px;
        &.phonenumber {
          margin-left: 16px;
        }
      }
    }
  }
}
