.news-page {
  h2 {
    @media (max-width: 426px) {
      margin-top: 28px;
      margin-bottom: 0;
      font-size: 32px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
    @media (max-width: 426px) {
      margin-top: 47px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin: 114px 0 88px;
  }

  &__card {
    display: flex;
    margin-bottom: 146px;
    @media (max-width: 768px) {
      flex-direction: column;
      display: flex;
      margin-bottom: 75px;
    }

    &-image {
      max-width: 438px;
      @media (max-width: 768px) {
        max-width: none;
      }

      img {
        width: 100%;
      }
    }

    &-content {
      margin-left: 32px;
      max-width: 515px;
      display: block;
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0;
        margin-top: 23px;
      }
      @media (max-width: 768px) {
        &_group {
          margin-top: 9px;
          display: flex;
          flex-direction: column;
        }
      }

      h3 {
        margin: 0;
        font-size: 22px;
        @media (max-width: 425px) {
          line-height: 28px;
          font-size: 18px;
        }

        a {
          text-decoration: none;
          color: #000;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      p {
        margin-top: 28px;
        line-height: 22px;
        font-size: 16px;
        @media (max-width: 425px) {
          line-height: 26px;
          margin-top: 9px;
        }
      }

      &_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;

        @media (max-width: 425px) {
          display: block;
        }
        @media (max-width: 768px) {
          margin-top: 0;
        }

        &-date {
          color: #67228f;
          font-weight: 500;
        }

        a {
          text-decoration: none;
          padding: 17px 36px;
          background-color: #67228f;
          border-radius: 38px;
          color: #fff;
          font-size: 15px;
          transition: all 0.3s;
          @media (max-width: 768px) {
            display: none;
          }

          &:hover {
            border: 1px solid #6e38f7;
            background-color: #fff;
            color: #6e38f7;
          }
        }
      }
    }
  }
}
