.news_single {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 842px;
  }

  h2 {
    font-size: 36px;
    line-height: 61px;
    align-items: flex-start;
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 36px;
    }
    @media (max-width: 425px) {
      font-size: 21px;
      line-height: 28px;
      margin-top: 25px;
      margin-bottom: 0;
    }
    @media (max-width: 320px) {
      font-size: 18px;
      line-height: 26px;
    }
  }
  p {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    @media (max-width: 425px) {
      line-height: 26px;
    }
    @media (max-width: 320px) {
      font-size: 16px;
      line-height: 24px;
    }
    &:last-child {
      margin-bottom: 108px;
    }
  }
  &__date {
    margin-top: 15px;
    align-self: flex-start;
    margin-bottom: 23px;
    @media (max-width: 425px) {
      margin-top: 20px;
    }
  }
  &__image {
    max-width: 842px;
    img {
      width: 100%;
    }
    &-main {
      max-width: 1062px;
      img {
        width: 100%;
        @media (max-width: 768px) {
          max-width: 768px;
        }
      }
    }
  }
}
