.news-page {
  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin: 114px 0 88px 0;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      font-family: "icomoon";
      color: #95a1bb;
      font-size: 25px;
    }

    &::before {
      content: "\e907";
      left: 400px;
      cursor: pointer;
    }
    &::after {
      content: "\e903";
      right: 400px;
      cursor: pointer;
    }
  }
  &__card {
    display: flex;
    margin-bottom: 146px;
    @media (max-width: 768px) {
      display: block;
      margin-bottom: 75px;
    }

    &-image {
      max-width: 438px;
      @media (max-width: 768px) {
        max-width: none;
      }
      img {
        width: 100%;
      }
    }
    &-content {
      margin-left: 32px;
      max-width: 515px;
      @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 25px;
      }
      h3 {
        margin: 0;
        font-size: 22px;
        @media (max-width: 425px) {
          line-height: 28px;
        }
        a {
          text-decoration: none;
          color: #000;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      p {
        margin-top: 28px;
        line-height: 22px;
        font-size: 16px;
        @media (max-width: 425px) {
          line-height: 26px;
        }
      }
      &_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        @media (max-width: 425px) {
          display: block;
        }
        &-date {
          color: #67228f;
          font-weight: 500;
          @media (max-width: 425px) {
            margin-bottom: 35px;
          }
        }
        a {
          text-decoration: none;
          padding: 17px 36px;
          background-color: #67228f;
          border-radius: 38px;
          color: #fff;
          font-size: 15px;
          transition: all 0.3s;
          @media (max-width: 425px) {
            display: flex;
            justify-content: center;
            padding: 17px;
          }
          @media (max-width: 376px) {
            padding: 17px;
          }
          &:hover {
            border: 1px solid #6e38f7;
            background-color: #fff;
            color: #6e38f7;
          }
        }
      }
    }
  }
}
