.our_products {
  h2 {
    text-align: center;
    margin-top: 139px;
  }
  a {
    text-decoration: none;
  }
  &__cards {
    margin-top: 108px;
    display: flex;
    justify-content: center;
  }
  &__card {
    margin-right: 48px;
    &:last-child {
      margin-right: 0px;
    }
    h5 {
      margin-top: 20px;
      margin-bottom: 0;
      text-decoration: none;
      color: #000;
      font-size: 18px;
    }
  }
}
