.products {
  h2 {
    @media (max-width: 691px) {
      margin-top: 69px;
      font-size: 32px;
    }
    @media (max-width: 320px) {
      margin-top: 50px;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 88px;

    @media (max-width: 768px) {
      justify-content: center;
    }
    a {
      text-decoration: none;
      color: #000;
    }
  }
  &__tabs {
    @media (max-width: 768px) {
      display: flex;
      overflow: auto;
    }
  }
  &__item {
    max-width: 296px;
    border: 1px solid #f5f5f5;
    transition: all 0.3s;
    margin-right: 15px;
    margin-bottom: 30px;
    @media (max-width: 1370px) {
      justify-content: center;
    }
    @media (max-width: 691px) {
      margin-right: 0;
    }
    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    }

    h4 {
      text-align: center;
      font-size: 16px;
      line-height: 26px;
      margin: 15px 0;
    }
    p {
      font-size: 18px;
      text-align: center;
      margin-top: 0;
    }
    img {
      width: 100%;
      max-width: 296px;
      min-height: 297px;
      @media (max-width: 320px) {
        min-height: 286px;
      }
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin: 114px 0 88px 0;
  }
}
