.product-page {
  &__wrapper {
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 426px) {
      flex-direction: column;
      margin-top: 12px;
    }
  }

  &__images {
    display: flex;
    margin-top: 64px;
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 0;
      align-self: start;
    }
    @media (max-width: 426px) {
      justify-content: center;
      align-items: center;
    }

    &-col {
      display: block;
      @media (max-width: 1024px) {
        display: flex;
      }
      @media (max-width: 425px) {
        margin-top: 25px;

        img {
          margin: 0 15px;
        }
      }
    }

    &-main {
      margin-left: 10px;
      @media (max-width: 426px) {
        margin-left: 0;
      }

      img {
        width: 100%;
        cursor: pointer;
        @media (max-width: 768px) {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__image {
    margin-bottom: 7px;

    img {
      max-width: 100px;
      cursor: pointer;

      @media (max-width: 768px) {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__info {
    max-width: 578px;
    margin-left: 45px;

    &-group {
      @media (max-width: 426px) {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 34px;

        a {
          display: flex;
          margin: 0;
          justify-content: center;
          padding: 17px 0;
          margin-bottom: 53px;
        }
      }
    }

    @media (max-width: 1024px) {
      max-width: none;
    }
    @media (max-width: 426px) {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h2 {
      font-size: 32px;
      margin: 0;
      margin-bottom: 32px;
      @media (max-width: 426px) {
        margin-top: 25px;
      }
    }

    .term {
      margin: 0;
      font-weight: 600;
      color: #67228f;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 36px;
      text-align: justify;

      &:nth-child(4) {
        margin-top: 36px;
        margin-bottom: 0;
      }

      &:nth-child(5) {
        margin-top: 25px;
        @media (max-width: 426px) {
          margin-top: 0;
        }
      }

      &:last-child {
        margin-top: 26px;
        margin-bottom: 140px;
        @media (max-width: 426px) {
          margin-bottom: 72px;
        }
      }
      @media (max-width: 426px) {
        margin-bottom: 0;
        align-self: flex-start;
      }
    }
  }

  &__items {
    ul {
      padding: 0;
      display: flex;
      @media (max-width: 1024px) {
        flex-wrap: wrap;
      }
      @media (max-width: 426px) {
        justify-content: center;
        margin-top: 50px;
      }

      li {
        list-style: none;
        @media (max-width: 1024px) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__item {
    margin-right: 12px;
    @media (max-width: 426px) {
      margin-right: 30px;
      font-size: 14px;
    }

    &-title {
      background-color: #f3f1f1;
      line-height: 38px;
      border-radius: 12px 12px 0 0;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      padding: 8px 15px 10px;
    }

    &-value {
      background-color: #aba2a2;
      border-radius: 0 0 12px 12px;
      text-align: center;
      padding: 5px;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
