.slider {
  &__container {
    max-width: 1366px;
    margin: 0 auto;
  }
  &__item {
    position: relative;
    width: 100%;
    max-height: 579px;
    height: 100%;
    @media (max-width: 425px) {
      max-height: 217px;
    }
    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.18) 79.15%,
        rgba(0, 0, 0, 0) 100%
      );
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 2;
    }
    &-image {
      width: 100%;
      height: 100%;
    }
    h1,
    p {
      position: absolute;
      z-index: 3;
      margin-left: 43px;
      text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.5);
    }
    h1 {
      top: 126px;
      font-family: "Adigiana Extreme";
      font-size: 88px;
      color: #fff;
      font-weight: 400;
      max-width: 785px;
      line-height: 80px;
      @media (max-width: 960px) {
        font-size: 80px;
        max-width: 650px;
      }
      @media (max-width: 425px) {
        font-size: 56px;
        line-height: 64px;
      }
    }
    p {
      top: 350px;
      max-width: 445px;
      color: #fff;
      font-size: 18px;
      line-height: 28px;
      @media (max-width: 960px) {
        font-size: 16px;
        max-width: 500px;
      }
    }
  }
}
