{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "color-hex-case": null,
    "at-rule-empty-line-before": null,
    "block-closing-brace-newline-after": null,
    "media-feature-name-no-unknown": [
      true,
      {
        "ignoreMediaFeatureNames": [
          "/^prefers-/"
        ]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "include",
          "function",
          "return",
          "mixin",
          "if",
          "else",
          "for",
          "extend",
          "each",
          "content"
        ]
      }
    ]
  }
}
