@font-face {
  font-family: "Adigiana Extreme";
  src: url("../fonts/Adigiana Extreme.woff2") format("woff2"),
    url("../fonts/Adigiana Extreme.woff2") format("woff");
  font-style: normal;
  font-display: swap;
}
