* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  @media (max-width: 768px) {
    &.lock {
      overflow: hidden;
    }
  }
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  @media (max-width: 1370px) {
    padding: 0 35px;
  }
}
h2 {
  font-size: 48px;
  font-weight: 700;
}
.link {
  background-color: #ffc733;
  font-size: 15px;
  padding: 15px 32px;
  border-radius: 38px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: all 0.3s;
  &:hover {
    background-color: #ffdb7e;
  }
}
